.container {
    width: 1226px;
    margin: 0 auto;
}
input{
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after, .clearfix:before{
    content: ' ';
    display: table;
}
.clearfix:after{
    clear: both;
}

